

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: white;
  overflow: hidden;
  height:100%;
  

}

.main {
  display: flex;
  height: 100vh;
  padding-top: 3.75rem;
  overflow: hidden;

}

.sidebar {
  width: 25rem;
  background-color: black;
  border-radius: 0.3125rem;
  height:100vh;
  overflow-y: hidden;
}

.sidebar-content {
  margin-top: 0.05rem;
  border-radius: 0.5rem;
  position: fixed;
  width:26.125rem;
  height: calc(100vh - 3.75rem);
  background-color: #121212;
  margin-right: 0.25rem;
  margin-left: 0.4375rem;

}

.options {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-bottom: 0.97rem;
  position: sticky;
  top: 0;
  font-weight: 700;
  padding: 1.2rem 0.99rem;
  padding-top:1rem;
  color: white;
}

.plus {

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 
}

.plus svg {
  border-radius: 50%;
  transition: background-color 0.3s ease;
  opacity:0.7;
  padding:5px;
  

}

.plus:hover svg {
  background-color: #201e1eea;
  opacity:1;
}
.plus .tooltip{
  display: flex;
  position: absolute;
  /* bottom: 100%; Place it above the icon */
  /* margin-bottom: 0.5rem;  */
  margin-bottom:-0.4rem;
  width:9.5rem;
  font-size:0.85rem;
  

}
.plus:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.plus {
  position: relative;
}

.content {
  align-items: center;
  justify-content: center;
 
  height: calc(100vh - 28.75rem);
  background-color: #121212;
  color: white;
  overflow-y: auto;
}

.box {
  background-color: #212020;
  height: 6.5rem;
  margin: 0rem 0rem 1.3rem 0;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  margin-left:0.5rem;
}

.p1 {
  margin-top: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.6rem;
}

.p2 {
  font-size: 0.78rem;
  opacity: 0.99;
  padding-bottom: 0.79rem;
}

.badge {
  font-size: 0.9rem;
  background-color: white;
  border-radius: 6.25rem;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  font-weight: 700;
  transition: background-color 0.5s ease;
  cursor: pointer;

}
.badge:hover{
  background-color: #e0e0e0;
   transform:scale(1.05);
}
.bottom {
  display: flex;
  height: 3.75rem;
  width: 100%;
  position: sticky;
  margin-top: 2.5rem;
  width: 21.875rem;
  padding: 0.5rem 1.6rem;
  color: white;

}

.texts {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
  margin-bottom:1rem;
  font-size: 0.7rem;  
}

.texts p {
  margin: 0;
  cursor: pointer;
  opacity: 0.7;
}
.link a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 1.6rem;
}
.link a:hover {
  text-decoration: underline;
  opacity: 1;
}
.lang {
  display: flex;
  width: 4.375rem;
 height:0.9375rem;
 
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  border: solid 0.0625rem rgb(114, 103, 103);
  padding: 0.5rem 0.7rem;
  margin-top: 2.5rem;
  margin-left: 1.6rem;
}

.globe svg{
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0.98;
  margin-top:0.17rem;
  margin-right:0.1rem;
}

.lang button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background: transparent;
  color: white;
  border-radius: 6.25rem;
  border: none;
  font-weight: 700;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.lang:hover {
  border: 0.03125rem solid rgba(255, 255, 255, 0.884);
  transform:scale(1.03);
  background-color: #181818d5;
}

.main-box {
  background-color: black;
  flex: 1;
  border-radius: 0.1875rem;
  overflow-y: auto;
  overflow-x: hidden;
  
}
.main-content{
  border-radius: 0.5rem;

 
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0.160)0.125rem, #121212 7.5rem );

 
  margin-left: 2.083125rem;
}
.heading{
  display: flex;
}
.top{
display: flex;
  height: 1.25rem;
  font-weight: 700;
  width:100%;
  padding: 0.99rem 1.5rem;
  color: white;
  justify-content: space-between;
  margin-top:0.8rem;
  
}
.top a{
  text-decoration: none;
}
.song{
  font-size: 1.4rem;
  font-weight: 799;
  opacity: 1;
  color: white;
}
.show{
  color: white;
  font-size: 0.88rem;
  opacity: 0.7;
}
.top a:hover{
text-decoration: underline;
  opacity: 1;
}
.albums{
 display: flex;
 margin:0.99rem;
 margin-top:0rem;
 flex-wrap: wrap;
 justify-content: space-between;

}
.card {
  display: flex;
  border-radius: 0.5rem;
  padding: 0.6875rem;
  gap:0.4375rem;
  flex-direction: column;
  width: 9.375rem;
  cursor: pointer;
}

.pic {
  position: relative; 
  width: 9.6875rem;
  height: 9.6875rem;
  border-radius: 0.5rem;
  overflow: hidden; 
}

.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
 .artist{
   position: relative; 
   width: 9.6875rem;
   height: 9.6875rem;
   
   overflow: hidden; 
 }
 
 .artist img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
 }
 
.play {
  position: absolute;
  bottom: 0.3125rem;
  right: 0.3125rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.play svg{
  width: 2.125rem;
  height: 2.125rem;
  padding: 0.4rem;
  background-color: #1ed760;
  border-radius: 50%;
}

.card:hover{
  background-color: #232323;
}
.card:hover .play {
  opacity: 1;
}
.play svg:hover {
  background-color: #2dec70;
  transform: scale(1.04);
  transition: transform 0.2s ease;
}


.title{
  font-weight:700;
  padding-top:0.25rem;
  padding-bottom:0.25rem;
  font-size: medium;
}
.singer{
  opacity:0.7;
  font-size: small;

}
.bottom2{
  display: flex;
  
  width:99%;
  
}
.bottom-texts{
   display: flex;
  justify-content: space-between;
  width:70%;
  margin-right:7.5rem;
  margin-left:0.9rem;
}
.bottom-text{
  margin:0.9rem;
  display: flex;
  flex-direction: column;}
.bottom-text p{
font-weight: 700;
}
.bottom-text a{
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
a{
  margin-bottom: 0.625rem;
}
.bottom a:hover{
  text-decoration: underline;
    opacity: 1;
  }
  .logo-container{
    display: flex;
  }
  .logo-icon{
    width: 1.375rem;
    height: 1.375rem;
    color: #fff;
    padding:0.6rem;
    margin-top:1.3rem;
    border-radius: 50%;
    background-color: #242222;
    
    margin-left:1.0625rem;
    
  }
  .logo-icon:hover{
    background-color: #595656;
  }
  .logo-icon .tooltip{
    border-radius:0;
    font-weight:400;
    visibility: 0.4;
    background-color: #212020;
    border: 0.03125rem solid rgba(255, 255, 255, 0.492);

  }
  .line{
    border: none;
    height: 0.0125rem;
    width:64.2rem;
    background-color: #eee7e7; 
    opacity: 0.1;
  }
  
  .end{
    margin-top:1.2rem;
    
  }
  .end div{
    margin-top: 2.5rem;
    padding: 0.5rem 1.99rem;
    color: white;
    opacity: 0.65;
    padding-bottom: 13.95rem;
    font-size: 0.89em;
    
  }
  
 

.footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  padding-top:0.3125rem;
  height: 4.625rem;
}

.spotify-preview-banner {
  background: linear-gradient(90deg, #af2896, #509bf5);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5625rem 1.5rem;
  width:95.8%;
  margin-left: 0.4375rem;
  flex-wrap: wrap;
}

.para {
  margin-left:-0.3125rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#upper {
  font-weight: 700;
  font-size: 0.9rem;
}


.spotify-preview-banner button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 0.9375rem 1.75rem;
  border-radius: 1.5625rem;
  font-size: 0.99rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.spotify-preview-banner button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

@media (max-width: 37.5rem) {
  .spotify-preview-banner {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
}